@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    background-color: #18122B;
    color: #6E62A4;
    margin: 0;
    padding: 0;

    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    padding-top: 6rem;
}



:root {
  --foreground-rgb: 110, 98, 164;
  --background-start-rgb: 24, 18, 43;
  --background-end-rgb: 24, 18, 43;
}
